.container {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.container::after {
  content: "";
  position: absolute;
  /* top: 10px; */
  bottom: -10px;
  height: 3px;
  width: 100%;
  background-color: grey;
}
.wrapBar {}